<% if(success && success.length) {%>
  <div class="alert">
    <p><%= success %></p>
    <!-- <button type="button">
        <span aria-hidden="true">&times;</span>
    </button> -->
    </div>
  <% } %>
  
  <% if(error && error.length) {%>
  <div class="alert">
    <p><%= error %></p>
    <!-- <button type="button">
        <span aria-hidden="true">&times;</span>
    </button> -->
    </div>
  <% } %>