<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Action</title>
</head>

<body>
    <h1>Action Games</h1>
    <div>
        <div class="container">
            <div class="row">
                <% for (let gamecard of allcards){%>
                <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="<%=gamecard.headerImage %>" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title"><%=gamecard.title %></h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="/games/<%=gamecard._id %>" class="btn btn-primary">Browse</a>
                                </div>
                              </div>  
                </div>
                <% } %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>