<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Developers</title>
		<link rel="stylesheet" href="stylesheets/developers.css" />
		<link rel="stylesheet" href="stylesheets/global.css" />
		<link rel="stylesheet" href="stylesheets/mediaquery.css" />
	</head>
	<body>
		<div class="container">
			<div class="dev-info">
				<div class="left">
					<pre>
...................................................://..............................................
................................................-/oss+..............................................
.............................................../ossss+..............................................
........................................-:/-.-ossssss+..............................................
.....................................-/+sss+:sssssssso://///::-.....................................
...................................:+ssssosssssssssssssssssssssso/-.................................
................................./sss+:-..osssssssssssssssssssssssso:...............................
.............................../sso/.-/+o//sssssssssssssssssssssssssso-.............................
.............................-oss/-/ossssssssssssssssssssssssssssssssss/............................
............................/sso:+ssssssssssssssssssssssssssso+//++ossss/...........................
.........................../sso/ssssssssssssssssssssssssss/-..----..-/oss-..........................
..........................:ssssssssssssssssssssssssso+:::...:osssso+:..-+o..........................
..........................oosssssssssssssssssssssso:..:-..--.-/sssssso+..-..........................
..........................-+ssssssssssssssssssssss-.-os/..so+..:ssssssso............................
........................../ssssssssssssssssssssss/..osso..:os/..ssssssss+...........................
.........................-sssssssssssssssssssssss-.:sssso:..-..:sssssssss-..........................
........................./ssssssssssssssssssso///..-//+ssso+//+ssssssssss/..........................
.........................+sssssssssssssssssss-.........+oooooooossssssssso..........................
.........................+ssssss+/:--...........................--:+osssss..........................
........................./ssso:...-:///:-...................-::::-...:osss-.........................
.........................-o+/.../ossssssss+-.............:ossssssss+-..:+o..........................
..............................:sssss+:+sssss+..:sssso..-osssso:-+ssss+..............................
......................-+so...-ssssss-.-ssssss+..----...ossssso..:sosss+...oo+-......................
...................../ssss/..+sso---...--:osss...-:...:sss/..+soo-.-sss..:ssss/.....................
.....................sssss+../sss/::...::/ssso..-ss:..:sss+::o++o/-/sss../sssso.....................
.....................ssssso...+sssss-.:ssssso-..+sso...+sssss+..:sssss/..osssss.....................
.....................ssssss+.../ossso+ossso+...:ssss+.../ossso+/ossso:..+ssssso.....................
.....................+sssssso-...:/+ooo++:..../sssssso-..-/+oooooo+:..:ossssss/.....................
......................osssssss+:...........-/osssssssss+:..........-/ossssssso......................
......................-osssssssso+/:::::/+ossssssssssssssso++///++ossssssssso-......................
........................:oosssssssssssssssssssssssssssssssssssssssssssssoo+:........................
...........................:ssssssssssssssssssssssssssssssssssssssssssss:...........................
............................+ssssssssssssssssssssssssssssssssssssssssss+............................
.............................osssssssssssssssssssssssssssssssssssssssso.............................
.............................-osssssssssssssssssssssssssssssssssssssso-.............................
..............................-osssssssssssssssssssssssssssssssssssso-..............................
................................ossssssssssssssssssssssssssssssssss+................................
.................................:osssssssssssssssssssssssssssssso:.................................
...................................-+osssssssssssssssssssssssso+:...................................
......................................:+osssssssssssssssssso+:......................................
.........................................-/+osssssssssso+/-.........................................
.............................................-:++oo++:-............................................. 
                    </pre>
				</div>
				<div class="right gradient-div">
					<div class="gradient-title">
						<h1>You have found an easter egg!</h1>
					</div>
					<p>Developer names here</p>
				</div>
			</div>
		</div>
	</body>
</html>
