<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TheGamingNerd</title>
		<link
			href="//fonts.googleapis.com/css?family=Michroma&subset=latin"
			rel="stylesheet"
			type="text/css"
		/>
        <link rel="stylesheet" href="/stylesheets/home.css">
		
	</head>

	<body>
		<div class="container">
			<div class="masked"></div>
			<div class="section-title">
				<h1>Categories</h1>
			</div>
			<div class="boxes">
				<div class="box">
					<a  href="/action">
						<img src="/assets/images/gta.jpg"/>
					</a>
				</div>
				<div class="box">
						<a  href="/fps">
							<img src="/assets/images/gta.jpg"/>
						</a>
				</div>
				<div class="box">
					<h1>FPS</h1>
				</div>
			</div>
		</div>
	</body>
</html>
