<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TheGamingNerd</title>
		<link rel="stylesheet" href="stylesheets/homepage.css" />
		<link rel="stylesheet" href="stylesheets/global.css" />
		<link rel="stylesheet" href="stylesheets/mediaquery.css" />
	</head>
	<body>
		<div class="container">
			<header>
				<div class="logo">
					<img src="assets/logo/logo-gradient.svg" alt="" />
				</div>
				<div class="logo-text gradient-title">
					<h1>The Gaming Nerd</h1>
				</div>
				<div class="header-right">
					<!-- to add: login, signup, search bar -->
					login and search bar here
				</div>
			</header>

			<div class="section categories">
				<div class="gradient-title">
					<h1>Categories</h1>
				</div>
				<div class="card-gallery">
					<div class="card gradient-div">
						<a href="#">
							<div class="card-image">
								<img src="assets/icons/windows.svg" alt="" />
							</div>
							<div class="card-name"><p>Windows</p></div>
						</a>
					</div>
					<div class="card gradient-div">
						<a href="#">
							<div class="card-image">
								<img
									src="assets/icons/playstation.svg"
									alt=""
								/>
							</div>
							<div class="card-name"><p>Playstation</p></div>
						</a>
					</div>
					<div class="card gradient-div">
						<a href="#">
							<div class="card-image">
								<img src="assets/icons/xbox.svg" alt="" />
							</div>
							<div class="card-name"><p>Xbox</p></div>
						</a>
					</div>
				</div>
			</div>

			<div class="section genres">
				<div class="gradient-title">
					<h1>Genres</h1>
				</div>
				<div class="card-gallery">
					<div class="card gradient-div">
						<a href="genres/fps">
							<div class="card-image">
								<img src="assets/icons/fps.svg" alt="" />
							</div>
							<div class="card-name"><p>FPS</p></div>
						</a>
					</div>
					<div class="card gradient-div">
						<a href="genres/action">
							<div class="card-image">
								<img src="assets/icons/action.svg" alt="" />
							</div>
							<div class="card-name"><p>Action</p></div>
						</a>
					</div>
					<div class="card gradient-div">
						<a href="#">
							<div class="card-image">
								<img src="assets/icons/sports.svg" alt="" />
							</div>
							<div class="card-name"><p>Sports</p></div>
						</a>
					</div>
					<div class="card gradient-div">
						<a href="#">
							<div class="card-image">
								<img src="assets/icons/racing.svg" alt="" />
							</div>
							<div class="card-name"><p>Racing</p></div>
						</a>
					</div>
					<div class="card gradient-div">
						<a href="#">
							<div class="card-image">
								<img src="assets/icons/rpg.svg" alt="" />
							</div>
							<div class="card-name"><p>RPG</p></div>
						</a>
					</div>
				</div>
			</div>
			<div class="section news">
				<div class="gradient-title">
					<h1>News & Articles</h1>
				</div>
				<!-- generate news using for loop -->
				<div class="news-content gradient-div">
					<a href="#">
						<div class="news-image">
							<img src="assets/images/trilogy.webp" alt="" />
						</div>
						<div class="news-info">
							<div class="gradient-title">
								<h2>
									Remastered GTA Trilogy to get November 11
									release on console and PC
								</h2>
							</div>
							<div class="tags">
								<!-- generate tags using for loop -->
								<div class="tag"><p>windows</p></div>
								<div class="tag"><p>windows</p></div>
								<div class="tag"><p>windows</p></div>
								<div class="tag"><p>windows</p></div>
								<div class="tag"><p>windows</p></div>
								<div class="tag"><p>windows</p></div>
							</div>
							<div class="news-desc">
								<p>
									Grand Theft Auto: The Trilogy – The
									Definitive Edition is now available for
									preorder from $60 on console and PC. GTA:
									San Andreas will also be included in Xbox
									Game Pass from Nov. 11, while GTA III joins
									PlayStation Now one month later on Dec. 7,
									2021.
								</p>
							</div>
						</div>
					</a>
				</div>
				<div class="news-content gradient-div">
					<a href="#">
						<div class="news-image">
							<img src="assets/images/trilogy.webp" alt="" />
						</div>
						<div class="news-info">
							<div class="gradient-title">
								<h2>
									Remastered GTA Trilogy to get November 11
									release on console and PC
								</h2>
							</div>
							<div class="tags">
								<!-- generate tags using for loop -->
								<div class="tag"><p>windows</p></div>
								<div class="tag"><p>windows</p></div>
								<div class="tag"><p>windows</p></div>
								<div class="tag"><p>windows</p></div>
								<div class="tag"><p>windows</p></div>
								<div class="tag"><p>windows</p></div>
							</div>
							<div class="news-desc">
								<p>
									Grand Theft Auto: The Trilogy – The
									Definitive Edition is now available for
									preorder from $60 on console and PC. GTA:
									San Andreas will also be included in Xbox
									Game Pass from Nov. 11, while GTA III joins
									PlayStation Now one month later on Dec. 7,
									2021.
								</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
