form {
	width: fit-content;
	margin: 0 auto;
}

table td,
table td > *,
.alert {
	padding: 10px;
}

table td > table td:nth-child(2) {
	/* background-color: #fff; */
	padding: 0 0 0 10px;
}

table td > table td:nth-child(2) > * {
	/* background-color: red; */
	margin: 5px 0;
}

table td:nth-child(1) {
	border-right: 2px solid;
	text-align: right;
}
table td:nth-child(2) {
	/* background-color: #fff; */
	width: 700px;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	display: inline-flex;
	margin: 5px;
	/* background-image: var(--fallback-color); */
}
.admin .buttons {
	text-align: right;
	margin: 10px;
}
button {
	cursor: pointer;
}
button p,
.alert p {
	color: var(--fallback-color);
}

.admin button:nth-child(1),
.alert {
	background: linear-gradient(315deg, hsl(0deg 100% 63%) 0%, #ff6a6a 65%);
}

button,
.admin button:nth-child(2) {
	background: var(--title-text-gradient);
}

.login > * {
	margin: 10px 0;
}

.login .buttons {
	display: flex;
	align-items: center;
}

.login .buttons a {
	margin-left: 20px;
}

.alert {
	border-radius: var(--border-radius);
	margin-bottom: 20px;
}
