.container {
	display: inherit;
}

/* img {
	object-position: top;
} */

/* body {
	background-color: black;
} */

.banner {
	aspect-ratio: 16/4.8;
	position: relative;
}

.favourite {
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: end;
	width: 55px;
	padding: 0 5px;
}

.favourite:hover {
	width: 150px;
	padding: 0 10px;
	overflow: hidden;
}

.favourite img {
	width: 45px;
}

.favourite p {
	margin: 0 10px;
}

.game-details {
	width: 100%;
	display: flex;
	/* flex-wrap: wrap; */
	/* margin-bottom: 20px; */
	align-items: flex-end;
}
.gdetails-left {
	width: 230px;
	height: 248px;
}

.poster {
	transform: translateY(-150px);
	overflow: hidden;
	aspect-ratio: 2/3;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

.rate-stars {
	padding: 15px;
	transform: translateY(-150px);
}

.gdetails-right {
	/* width: 100%; */
	min-width: 581px;
	flex: 2;

	display: flex;
	justify-content: space-between;
	margin-left: 20px;
}

.section {
	padding: 20px;
	margin-top: 20px;
}

.game-score div p {
	margin: 5px auto;
}
.game-score .gradient-title {
	text-align: center;
}

.score-circle {
	background: var(--title-text-gradient);
	width: 70px;
	aspect-ratio: 1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.score-circle > p > * {
	color: #1e2327;
}
.score-circle p {
	padding: 5px;
}

.gdetails-left.gradient-div {
	overflow: visible;
}

.game-title-stats,
.game-stats .gradient-title {
	margin-right: 10px;
}

.game-title-stats p {
	display: inline;
}

.tags {
	margin-bottom: 0;
}

.req-wrapper {
	display: flex;
}
.req-wrapper .minimum,
.req-wrapper .recommended {
	width: 100%;
	padding: 0 15px;
}
.req-wrapper > * > p {
	/* background-color: yellow; */
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 2px solid;
}

.screenshots-gallery {
	display: flex;
	/* justify-content: space-around; */
	overflow-x: scroll;
}
.screenshots img {
	width: 350px;
	margin: 0 7px 15px 7px;
	border-radius: var(--border-radius);
}

.store-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.store-gallery .store {
	margin: 0 3vw 20px 3vw;
	text-align: center;
}
.store-gallery .store img {
	height: auto;
	width: auto;
	margin: auto;
}

form button {
	background: var(--title-text-gradient);
	margin-top: 10px;
}

form button p {
	color: var(--fallback-color);
}

.comment-card .rating {
	/* background-color: #fff; */
	display: flex;
	justify-content: space-between;
}
