@media (max-width: 1155px) {
	.dev-info {
		flex-wrap: wrap;
		justify-content: center;
		overflow-x: hidden;
	}
}

@media (max-width: 890px) {
	.gradient-title {
		width: 100%;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.banner {
		aspect-ratio: 16/6;
	}
	.game-details {
		flex-direction: column;
		align-items: center;
	}
	.poster,
	.rate-stars {
		transform: translateY(0);
	}
	.gdetails-left {
		width: clamp(160px, 25vw, 500px);
		height: auto;
		transform: translateY(-15vw);
		margin-bottom: -15vw;
	}
	.gdetails-right {
		min-width: 100%;
		margin: 20px 0 0 0;
		flex-direction: column;
	}
	.game-title h1 {
		text-align: center;
	}
	.card-image {
		height: auto;
	}
	.categories img,
	.genres img {
		width: 60%;
		height: 60%;
	}
	.game-score,
	.game-score div {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: fit-content;
	}
	.game-score {
		margin-top: 10px;
	}
	.game-score div:nth-child(2) {
		margin-left: 10px;
	}
	.screenshots-gallery {
		overflow: hidden;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.req-wrapper {
		flex-wrap: wrap;
	}
	.req-wrapper .minimum {
		margin-bottom: 20px;
	}
	.news-info > div p {
		width: auto;
	}
}

@media (max-width: 648px) {
	body {
		font-size: x-small;
	}
	p,
	li {
		font-size: small;
	}
	header {
		padding: 10px;
	}
	.container {
		padding: 10px;
	}
	.news-content a {
		flex-direction: column;
	}
	.news-info,
	.news-image {
		width: fit-content;
	}
	.news-info {
		margin: 10px;
		padding-bottom: 10px;
	}

	.section {
		padding: 10px;
	}
	.img-gallery {
		justify-content: space-between;
	}
	.img-gallery img {
		width: 49%;
	}
	.favourite {
		top: initial;
		bottom: 0;
		width: 35px;
		margin: 5px;
	}
	.favourite img {
		width: 25px;
	}
}

@media (max-width: 450px) {
	.screenshots-gallery img {
		width: 100%;
	}
	footer {
		/* background-color: #fff; */
		margin: 0 10px;
	}
}

@media (max-width: 321px) {
	.game-score {
		flex-direction: column;
		align-items: flex-start;
	}
	.game-score,
	.game-score div:nth-child(2) {
		margin: 0;
	}

	.game-score div .score-circle {
		margin-left: 10px;
	}
}
