<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Lounge</title>
    </head>

    <body>
        <div>
            <img class="Banner" src="https://images.gog-statics.com/b8d9516624ae7b14acf41b3df5da523c87068f6c5729e36c11e0a43d3b5788b1_bg_crop_1920x655.jpg">
        </div>
            <h1 class="GameName"><%= card.title %></h1>
            <img class="GameLogo" src="<%= card.image %>">
        </div>
        <!--Form for the review system TODO: move later to appropriate place-->
        <h2 style="color: white;">Leave a Review</h2>
        <form action="/games/<%=card._id%>/reviews" method="POST">
            <div class="mb-3">
                <label for="rating" style="color: white;">Rating</label>
                <input type="range" min="0" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label for="body" style="color: white;">Review</label><br>
                <textarea name="review[body]" id="body" cols="30" rows="3"></textarea>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <div class="main">
            <div class="DescContainer">EARTH IS OURS NO MORE
    
    Experience Aloy’s entire legendary quest to unravel the mysteries of a world ruled by deadly Machines.
    
    An outcast from her tribe, the young hunter fights to uncover her past, discover her destiny… and stop a catastrophic threat to the future.
    
            </div>
            <div class="GameDetails">
            <h3><u>GameDetails</u></h3>
            <h6>Genre: Action - Role-Playing - Scifi</h6>
            <h6>Platforms: PC / PS4</h6>
            <h6>Release: August 7, 2020</h6>
            <h6>Developers: Guerrilla / PS Mobile, Inc.</h6>
            <h6> Size: 68.1 GB </h6>
            </div>
            <div class="ImageGallery">
                <a href="https://youtu.be/PNmop_vAPHY"><img src="https://img.youtube.com/vi/PNmop_vAPHY/hqdefault.jpg" alt=""></a>
                <a href="https://youtu.be/zy5q0jnDhUI"><img src="https://img.youtube.com/vi/zy5q0jnDhUI/hqdefault.jpg" alt=""></a>
                <a href="https://youtu.be/mwTqHGSVF54"><img src="https://img.youtube.com/vi/mwTqHGSVF54/hqdefault.jpg" alt=""></a>
                <img src="https://images.gog-statics.com/b6912c7dd83e61fb2be522f7b9a705f633efe82067329e8ef71fe5770c17e6e6_product_card_v2_thumbnail_271.jpg">
                <img src="https://images.gog-statics.com/87e3eb2675cb51ba707d73585bcca9e2abf8c6ecb6cdfa82489a3f0fac304407_product_card_v2_thumbnail_271.jpg">
                <img src="https://images.gog-statics.com/344de62c9bd2953768096d0d7bfc06ae0ac31096c46ab2c4fc36981406490e57_product_card_v2_thumbnail_271.jpg">
                <img src="https://images.gog-statics.com/bd7c1e1e0ab11dd802e351f3c12076e86ad52c9767b1bc1fb37ea4c947760881_product_card_v2_thumbnail_271.jpg">
                <img src="https://images.gog-statics.com/ccec74570d10fd86fd4889f2b60d79f04a1b1d6472594bd66010b58e09ab92a1_product_card_v2_thumbnail_271.jpg">
            </div>
        </div>
    </body>
</html>