<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Lounge</title>
    </head>

    <body>  <!--To show the card of a particular game-->
        <img src="<%= card.image %>">
        <h1>Title: <%= card.title %></h1>
        <h2>Price: <%= card.price %> /-</h1>
    </body>
</html>