<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="stylesheet" href="stylesheets/global.css" />
		<link rel="stylesheet" href="stylesheets/formpage.css" />
	</head>
	<body>
		<div class="container">
			<div class="gradient-title">
				<h1>Login</h1>
			</div>
			<%- include("../partials/flash") %>
			<form action="/login" method="POST" class="login">
				<label for="username"><p>Username</p></label>
				<input
					type="text"
					id="username"
					name="username"
					required
					size="100"
				/>

				<label for="password"><p>Password</p></label>
				<input type="password" id="password" name="password" required />

				<div class="buttons">
					<button><p>Login</p></button>
					<a href="/register"><p>Sign up</p></a>
				</div>
			</form>
            <footer>
				<div class="logo">
					<a href="/"
						><img src="assets/logo/logo-gradient.svg" alt=""
					/></a>
				</div>
				<div class="footline">
					<p>
						Made with <img src="assets/icons/heart.svg" alt="" />
						<a href="/developers">by gamers,&nbsp;</a>
						for gamers
					</p>
				</div>
			</footer>
		</div>
	</body>
</html>
